.center-content {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.property {
    border-radius: 5px;
    border-width: 12px;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    border-style: solid;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;

}

.back-style {
    background-color: #f2f2f2;
    border-style: solid;
    border-color: rgba(211, 211, 211, 0.34);
    border-width: 1px;
    padding-left: 27px;
}

.back-style-extra {
    width: 98%;
}

.back-style-country {
    width: 98%;
}


.top-bar {
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-right: 15px;
    opacity: 0.8;
}

.bottom-country {
    height: 35px;
}

.bottom-extra {
    height: 6%;
}

#logo {
    margin-top: 12%;
    width: 20%;
    height: 100%;
}

#search_text {
    width: 470px;
    height: 35px;
    border-radius: 20px;
    border-color: lightgrey;
    background-color: transparent;
    outline: none;
    text-indent: 20px;
    font-size: 16px;
}

#search {
    margin-left: 35%;
}

#feeling_lucky {
    margin-top: -41px;
    margin-left: 50%;
}

#offered-language {
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 35px;
}

#language {
    text-decoration: none;
    text-underline-mode: none;
    color: darkblue;
}

#country {
    font-family: sans-serif;
    font-size: 16px;
    opacity: 0.65;
    position: relative;
    bottom: 10px;
}

#extra-left {
    font-family: sans-serif;
    font-size: 13px;
    opacity: 0.65;
    position: fixed;
    bottom: 10px;
    word-spacing: 23px;
}

#extra-right {
    bottom: 10px;
    position: fixed;
    font-family: sans-serif;
    font-size: 13px;
    word-spacing: 23px;
    opacity: 0.65;
}